
.navbar {
    margin: 0;
    padding: 0;
}

#root {
    margin: 0;
    padding: 0;
}
select,
button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    height:30px;
    cursor: pointer;
    margin: 20px;
    font-family: 'Unkempt', cursive;
    
}

button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}

button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
.dogs {
   
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 24vw);
    width: 99vw;
    border-radius: 20px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(16, 10, 100, 0.2);
    border-radius: 20px;
    width: 300px;
    height: 450px;
    margin: 30px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    
  }
  
  .container {
    height: 50px;
    text-align: center;
    font-style: inherit;
    font-family: "Inconsolata", monospace;
    color: cornflowerblue;
  }

  .card:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: 3s;
    transform: scale(1)
 
  }
  
  .dog-pics {
    height: 350px !important;
    padding: 15px;
    width: 295px;
  
    border-radius: 20 0 20 0px;
  }
  .carousel-div{
    width:1000px ;
    height: 1000px;
  }
 
  .dogFilter {
    display: flex;
    padding-top: 150px;
    justify-content: space-between;
    width: 40%;

  }
  .SoloDog{
    width: 550px;
    height: 340px;
  }