body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}
.center-btn {

  background: #65a9d7;
  width: 350px;
  height: 55px;
  font-size: 30px;
  color: aliceblue;
  font-family: "Pacifico", cursive;
  display: flex;
  align-self: flex-end;
  margin-left: 80px;
  padding-left: 45px;

}


.about {

  position: absolute;
  top:55%;
  left: 25%;
  font-size: 40px;
  color: white;
  text-shadow: 4px 4px 10px cornflowerblue;
  font-family: "Pacifico", cursive;
}
.carouselImg{
  height: 50rem;
  width: auto;
  opacity: 0.7;
  height: cover;
}
.carousel{
  height: 100%;
  width: 100%;
  z-index: -1;
}