ul {
  
  list-style-type: none;
  padding: 10px;
  color: rgb(33, 72, 146);
  text-align: center;
}

nav {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  width: 100vw;
  height: 0px;
  z-index:2 ;
}

.paw {
  height: 32px;
  margin: 0;
  border-radius: 50px;
}

h1 {
  font-size: 25px;
  font-family: "Pacifico", cursive;
}

.slogan {
  font-size: 15px;
  font-family: "Pacifico", cursive;
}


.button-nav {
  align-self: flex-start;
}


.nav-btn {
    position: relative;
    top: 65%;
   
}

.web-name {
    font-family: 'Unkempt', cursive;
}

.slogan {
    font-family: 'Unkempt', cursive;
}

